<h1>Multiplications</h1>
<!-- Declaring a shared action inside the template using @let -->
@let fallbackAction = { actionType: 'generic-click' };

<div class="button-container">
  @for (btn of buttons; track btn.id) {
    <!-- Merging fallback object properties with your array items -->
    <button   (click)="handleButtonClick(( { ...fallbackAction, ...btn } ).actionType)">
      {{ btn.label }}
    </button>
  }
</div>

    <div class="table-container">
      <h2>Multiplication Table for {{ tableData().Value }}</h2>
      
      <ul>
        @for (row of tableData().tableResults; track row.multiplier) {
          <li>
            {{ tableData().Value }} x {{ row.multiplier }} = {{ row.result }}
          </li>
        }
      </ul>
    </div>
