<h1>Multiplications</h1>
<!-- Declaring a shared action inside the template using @let -->
@let fallbackAction = { actionType: 'generic-click' };

<div class="button-container">
  @for (btn of buttons; track btn.id) {
    <!-- Merging fallback object properties with your array items -->
    <button   (click)="handleButtonClick(( { ...fallbackAction, ...btn } ).actionType)">
      {{ btn.label }}
    </button>
  }
</div>

@if(t1()){
    <div>
      <label for="1"> 1</label>
    </div>
}

@if(t2()){
    <div>
      <label for="2"> 2</label>
    </div>
}
@if(t3()){
    <div>
      <label for="3"> 3</label>
    </div>
}
@if(t4()){
    <div>
      <label for="4"> 4</label>
    </div>
}
@if(t5()){
    <div>
      <label for="5"> 5</label>
    </div>
}
@if(t6()){
    <div>
      <label for="6"> 6</label>
    </div>
}
@if(t7()){
    <div>
      <label for="7"> 7</label>
    </div>
}
@if(t8()){
    <div>
      <label for="8"> 8</label>
    </div>
}
@if(t9()){
    <div>
      <label for="9"> 9</label>
    </div>
}
@if(t10()){
    <div>
      <label for="10"> 10</label>
    </div>
}
@if(t11()){
    <div>
      <label for="11"> 11</label>
    </div>
}